/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
#stageCarousel {
  padding-bottom: 1.5rem;
}
/** navi background */
nav.navbar.bg-dark {
    background-color: #0080bc !important;
}